@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;600;700;800&display=swap');
@import 'tailwindcss';

@theme {
  --font-sans: 'Noto Sans JP', sans-serif;
  --color-brand: #013220;
  --color-brand-hover: #01501a;
  --color-ink: #202020;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
}
